<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog-${shortdate}.log">

  <!-- Enable ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Define targets where logs will be written -->
  <targets>
    <!-- File Target: Write logs to rolling date files -->
    <target xsi:type="File" name="fileTarget"
            fileName="logs/app-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="logs/archives/app-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Database Target: Write logs to SQL Server (CommonsDbContext) -->
    <target xsi:type="Database" name="databaseTarget">
      <connectionString>${configsetting:name=ConnectionStrings.CommonsConnection}</connectionString>
      <commandText>
        INSERT INTO Logs (CreatedDate, LogLevel, Logger, Message, Exception, MachineName, RequestPath, RequestMethod, UserAgent, UserId)
        VALUES (@createdDate, @logLevel, @logger, @message, @exception, @machineName, @requestPath, @requestMethod, @userAgent, @userId)
      </commandText>
      <parameter name="@createdDate" layout="${longdate}" />
      <parameter name="@logLevel" layout="${level:uppercase=true}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=tostring}" />
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@requestPath" layout="${aspnet-request-url:IncludePort=true:IncludeQueryString=true}" />
      <parameter name="@requestMethod" layout="${aspnet-request-method}" />
      <parameter name="@userAgent" layout="${aspnet-request-useragent}" />
      <parameter name="@userId" layout="${aspnet-user-identity}" />
    </target>

    <!-- Console Target: Write logs to console (useful for development) -->
    <target xsi:type="Console" name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Debug Target: Write logs to debug output (Visual Studio) -->
    <target xsi:type="Debugger" name="debugTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- Define logging rules -->
  <rules>
    <!-- Skip Microsoft logs below Warning level (reduce noise) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <!-- Skip System logs below Warning level -->
    <logger name="System.*" maxlevel="Info" final="true" />

    <!-- Skip EF Core query logs in production (too verbose) -->
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" maxlevel="Info" final="true" />

    <!-- Write all logs from Info level to file -->
    <logger name="*" minlevel="Info" writeTo="fileTarget" />

    <!-- Write Warning and above to database -->
    <logger name="*" minlevel="Warn" writeTo="databaseTarget" />

    <!-- Write all logs to console in development -->
    <logger name="*" minlevel="Trace" writeTo="consoleTarget" />

    <!-- Write all logs to debug output -->
    <logger name="*" minlevel="Debug" writeTo="debugTarget" />
  </rules>
</nlog>
